body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header.bg-primary {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section.card {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2.card-header {
    margin-top: 0;
    cursor: pointer;
}

h2.card-header::after {
    content: "\f107";
    font-family: "FontAwesome";
    margin-left: 10px;
}

h2.card-header.collapsed::after {
    content: "\f105";
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0.5em;
}

input.form-control,
select.form-control {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

button.btn.btn-primary {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

button.btn.btn-primary:hover {
    background-color: #444;
}

#reminder-list.list-group,
#log-list.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

#reminder-list.list-group li,
#log-list.list-group li {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

#reminder-list.list-group li:last-child,
#log-list.list-group li:last-child {
    border-bottom: none;
}
