body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav li {
    margin-bottom: 10px;
}

.navbar-nav a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: #ccc;
}

.container {
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

.form-control {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}

#meal-plan-results,
#grocery-list-items,
#recipe-import-results {
    margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar {
        padding: 0.5em;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav li {
        margin-bottom: 10px;
    }
    .container {
        padding: 1em;
    }
    section {
        margin-bottom: 10px;
    }
}
